#container-div {
  background-color: black;
  width: 100%;
  border: black;
  box-sizing: border-box;
  box-shadow: 2px 4px #f1faee;
  padding: 10px;
  color:gray;
  overflow-x: hidden !important;
  
  }
.bi-star-fill {
  color:orangered;
}

img {
  width:500px ;
  border-radius: 8px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  float: right;
 
}

.label {
  font-weight: bold;
  font-style: italic;
  font-style: "Roboto";
  padding: 10px;
  margin-top: 110px;
  letter-spacing: 1.5px;

}

div {
  margin: 16px;
}

#summary {
  margin-top: 260px;
  color:grey;
  text-align: left;
  float: left;
  max-width: 1000px;
  position: absolute;
  width: 50%;
  font-family:"Roboto";
  font-size: 15px; 
}
.details-box2{
margin-top: 20px;

}
.heading{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  
}
/* MEDIA QUERIES */
@media(min-width: 1290px) {

}

@media (min-width: 1063px) and (max-width: 1289px) {
  #summary {
  font-size: 13px;
  width: 45%; 
}
  img {
    width:450px;
    height:550px;  
  }
  #container-div {   
    height: 600px;
}
  
}

@media (min-width: 882px) and (max-width: 1062px) {

  #summary {
    font-size: 12px;
    width: 42%; 
  }
  img {
    width:370px;
    height:580px;  
  }
  #container-div {   
    height: 640px;
} 
   
}

@media (min-width: 685px) and (max-width: 881px) {
  #summary {
    font-size: 13px;
    width: auto; 
  }
  img {
    width:300px;
    height:250px;  
  }
  #container-div {   
    height: 600px;
} 
  
}

@media(min-width: 430px)  and (max-width: 684px) {
  #summary {
    font-size: 12px;
    width: auto;   
  }
  img {
    width:100px;
    height:250px; 
    float:center; 
  }
  #container-div {   
    height: 675px;
 }
}