<!DOCTYPE HTML>
<html>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <footer class="footer">
      <p>Questions? Call 1-844-505-2993</p>
  
  <div class="links">
    <ul>
      <li><a href="https://help.netflix.com/support/412">FAQ</a></li>
      <li><a href="https://www.netflix.com/browse/genre/839338"> Netflix Originals</a></li>
      <li><a href="https://www.netflix.com/watch">Ways to Watch</a></li>
      <li><a href="https://www.netflix.com/youraccount">Account</a></li>
      <li><a href="https://help.netflix.com/">Help Center</a></li>
      <li><a href="https://www.netflix.com/gift-cards">Gift Cards</a>
      </li>
      <li><a href="https://media.netflix.com/">Media Center</a></li>
      <li><a href="http://ir.netflix.com/">Investor Relations</a></li>
      <li><a href="https://jobs.netflix.com/jobs">Jobs</a></li>
      <li><a href="https://help.netflix.com/legal/termsofuse">Terms of Use</a></li>
      <li><a href="https://help.netflix.com/legal/privacy">Privacy</a>
      </li>
      <li><a href="https://help.netflix.com/legal/notices">Legal Notices</a></li>
      <li><a href="https://www.netflix.com/#">Cookie Preferences</a></li>
      <li><a href="https://help.netflix.com/legal/corpinfo">Corporate Information</a></li>
      <li><a href="https://help.netflix.com/contactus">Contact Us</a>
      </li>
      <li><a href="https://fast.com/">Speed Test</a>
      </li>
      
    </ul>
  </div>


</footer>
</html>
